@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth
}

body {
    max-width: 350px;
    max-height: 600px;
}

#root{
    width: 100%;
    height: 100%;
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  
    &::-webkit-scrollbar {
        width: 10px;
    }
  
    &::-webkit-scrollbar-track {
        border-radius: 5px;
        margin-top: 2em;
        background: #302f2f;
    }
  
    &::-webkit-scrollbar-thumb {
        background: #888;
    }
  
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
  }


@layer utilities {
    .update-label {
        @apply flex mt-2 text-base text-white flex-col;
    }

    .label-element {
        @apply p-1 text-white rounded-sm bg-midGrey;
    }
}